<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}DemoBundle{% endblock %}</title>
        {#        <link rel="shortcut icon" href="{{ asset('bundles/floriandemo/images/favicon.ico') }}" />
        #}        
        {% block javascript  %}
            {% javascripts filter='uglifyjs'
                "@jquery_js"
                "@jquery_ui_js"
                "@bootstrap_js"
            %} 
            <script type="text/javascript" src="{{ asset_url }}"></script> 
            {% endjavascripts %}

        {% endblock %}	
        {% stylesheets filter='css_url_rewrite,yui_css'
		'@florianDemoBundle/Resources/public/css/style.css'
                '@bootstrap_css'
		'@font_awesome'
        %}		
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all"/>
        {% endstylesheets %}
    </head> 
    <body>

        {% block header %}
            <div class="navbar navbar-default navbar-top" role="navigation">
                <div class="navbar-inner navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="navbar-header">
                                    <a href="#"><img class="logo-voreppe img-responsive brand" src="{{ asset('bundles/floriandemo/images/logo.jpg') }}" title="logo" alt="Logo"></a>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-left">
                                        <li>
                                            <a id="demo" href="#"><i class="fa fa-home fa-fw"></i>Demo
                                            </a>
                                        </li>
                                        <li>    
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                Menu 
                                                <span class="fa fa-align-justify"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#"><i class="fa fa-file-text-o fa-fw"></i>Action 1</a></li>
                                                <li><a href="#"><i class="fa fa-comment-o fa-fw"></i>Action 2</a></li>
                                            </ul>
                                        </li>  
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <div id="header-wrapper">
                <div id="alert-info" style="background-color:#0193CC;text-align: center;color:white;font-family: 'Arvo', serif;">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        {{ flashMessage }}     
                    {% endfor %}
                </div>
            </div>  
            <script type="text/javascript" >
                $('.dropdown-toggle').dropdown();
            </script> 
        {% endblock %}
        {% block contenu %}
        {% endblock %}  
        {% block fos_user_content %}
        {% endblock %}
        {% block footer %}
            <section class="pageFooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <dl>
                                <dt><a href="#">Tab1</a></dt>
                                <dd><a href="#">Tab1</a></dd>
                                <dd><a href="#">Tab1</a></dd>
                            </dl>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <dl>
                                <dt><a href="#">Tab2</a></dt>
                                <dd><a href="#">Tab2</a></dd>
                                <dd><a href="#">Tab2</a></dd>                           
                            </dl>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <dl>
                                <dt><a href="#">Tab3</a></dt>
                                <dd><a href="#">Tab3</a></dd>
                                <dd><a href="#">Tab3</a></dd>
                            </dl>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <dl>
                                <dt><a href="#">Tab4</a></dt>
                                <dd><a href="#">Tab4</a></dd>
                                <dd><a href="#">Tab4</a></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <a href="#" class="logo-wrapper" title="Protocole">
                                <img class="logo-voreppe img-responsive"  src="{{ asset('bundles/floriandemo/images/logo.jpg') }}"  alt="Demo">
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <dl class="legal">
                                <dd>Copyright © florian, Inc. All rights reserved.</dd>
                                <dd><a href="#">Privacy Policy</a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
    </body>
</html>
