{% block extends %}
{{ "{% extends 'marecatrProtocoleBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block contenu %}" }}
<section class="pageGrey">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb navbreadcrumb">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Entity</a></li>
                <li class="active">Création</li>
            </ol>
        </div>
    </div>
</section>
<section id="red" class="pageRed">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">Création</h2>
            </div>
        </div>
    </div>
</section>
<section class="pageWhite">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            {{ "{% for flashMessage in app.session.flashbag.get('danger') %}" }}
                <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                {{ "{{ flashMessage }}" }}
                </div>
            {{ "{% endfor %}" }}
            {{ "{% for flashMessage in app.session.flashbag.get('warning') %}" }}
                <div class="alert alert-dismissable alert-warning">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                {{ "{{ flashMessage }}" }}
                </div>
            {{ "{% endfor %}" }}
            {{ "{% for flashMessage in app.session.flashbag.get('success') %}" }}
                <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                {{ "{{ flashMessage }}" }}
                </div>
            {{ "{% endfor %}" }}
            </div>
        </div>
        <div class="row">
{{ "{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}" }}
            <div class="well bs-component col-sm-8 col-sm-offset-2">
{{ "{{ form(form) }}" }}
            </div>
        </div>
    </div>  
</div>
</section>
    {% set hide_edit, hide_delete = true, true %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
{{ "{% endblock %}" }}
{% endblock body %}
